@import '../../../styles/settings.scss';

.carouselContainer{
  position: relative;
  .slide {
    height: 350px;
    img {
      object-fit: cover;
      height: 100%;
      object-position: center;
      filter: brightness(90%);
    }
  }
}
