@import '../../../../styles/settings.scss';

.root {
   .form{
      padding-bottom: 30px;
      .contact {
         padding-top: 50px;
         width: 60%;
         line-height: 30px;
         margin-bottom: 25px;
         border: none;
         border-bottom: 2px solid rgb(8, 6, 6);
            .input{
            border: none;
            }
      }
   }
}